.container {
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  .subheader {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold 

  }
  
  .input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .dropdown {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .reoccurrence {
    display: flex;
    gap: 10px;
  }
  